*, *::before, *::after {
    box-sizing: border-box;
    
  }


  
  
  body {
   
    background-color: rgb(255, 251, 230);
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    
    
   

    
  }


  

header {
    position: fixed;
    z-index: 100;
    
}

nav {
   
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: rgb(251, 221, 217);
    box-shadow: 0 2px 3px rgb(254, 195, 187);
    margin: 0;
    top: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    
    

}


/* items in this div  is aligned horizontally at the end */
nav ul li {
     text-decoration: none;
     list-style: none;
     display: inline-block;
     margin: 15px;
     padding:8px;
     font-weight: bold;
     letter-spacing: 1px;
     transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
     
  
}

nav ul li a {
    text-decoration: none;         /* removes underline */
    color: rgb(249, 92, 71);       /* your preferred nav color */
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
   

nav ul li :hover {
    background-color: rgb(255, 200, 193); /* Light background */
    color: rgb(252, 64, 39); /* Darker text */
    border-radius: 5px; /* Soft edges */
    cursor: pointer;
}

nav .menu-icon {
      position: absolute;
      right: 35px;
      display: none;
      background-color:transparent;
      border: none;
}




nav .logo{
      height: auto;
      width: 100px;
     position: absolute;
     left: 25px;
     
     
}

.close-icon {
    position: absolute;
    right: 25px;
    display: none;
    background-color:transparent;
    border: none;
}


.image-container {
    position: absolute;
    height: auto;
    width: 40%;
    min-width: 30%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevents overflow */
    padding: 0;
    box-sizing: border-box;
    
    
}

.my-image {
    position: relative;
    left:10px;
    height: 100%; 
    width: 100%;
    display: block;
    object-fit:fill; /* Ensures image fills the container without stretching */
}


main {

       position:absolute;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      min-width: 100vw; 
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    background-color: rgb(255, 251, 230);
      top:70px;
      box-sizing: border-box;
      
   
    
}



#about-section{

   
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:92vw;
    height:auto;
    top:80px;
   
  
   
 
    
      
}





.container{  /*container*/
   
   
    grid-row : 2/13;
    background-color:rgb(255, 251, 230);
    
    
            }

            

.my-image{
   

    object-fit: contain;
   

}

h3{
    font-size: clamp(0.81rem, -0.655rem + 2.5vw, 1.918rem);
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 2px;
    color: rgb(180, 72, 0);
    margin: 15px;
    font-weight: normal;
    

}

#image-container {
    grid-column: 1/7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow: visible;
    padding-top: 20px;
  
    
}

#about-container {
    grid-column: 7/13;
    padding-top: 50px;
    padding-bottom: 50px;
  
    
    
}



h1 {
 
    color: orange;
    font-size: clamp(1.25rem, -10.431rem + 14.7931vw, 2.5rem);
    letter-spacing: 2px;
    text-indent: 20px;
    width: auto;
    
   
}

#skills-section {
    width: 100%;
    height: auto;
    background-color: rgb(251, 255, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid rgb(255, 209, 209);
    gap:30px;
    padding:50px;
    
   
   
 
}

.skills-items-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
    gap:50px;  
    padding:auto;
    
}



        .item {
           
          
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit:contain;
            flex-direction: column;
            padding:auto;
           
            


        }
        

#projects-section {
    
   
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:30px;
    padding:100px;
    
   
}



                    .projects-container{
                        width: auto;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 50px;
                        
                        
                    }

                    .project1{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: auto;
                        border: 3px solid rgb(255, 204, 170);
                        border-radius: 5%;
                        background-color: rgb(247, 213, 213);
                        gap:auto;
                        object-fit: contain;
                        padding:50px;
                        margin-bottom:20px;
                        
                    }

                  
                    .p1{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 15px;
                      


                        
                    }

                    #project-btn {
                        font-family: Arial;
                        font-size: clamp(0.625rem, 0.125rem + 2vw, 1.25rem);
                        color: #ff669c;
                        text-shadow: 0px 0px 0px #9e0061;
                        padding: 10px 30px 10px 30px;
                        background-color: #fffbe6;
                        border: 0px solid #ffd6d6;
                        border-radius: 30px;
                        box-shadow: 0px 2px 4px 0px #fc487b;
                      }
                      
                      #project-btn:hover {
                        background-color:  #fdf7d6;
                      }

                      .back-btn{
                        display: none;
                        margin-top:50px;
                    }

                    .lms-desc{
                        display:none;
                        text-align: justify;
                        text-indent: 20px;
                        

                    }
                
                
                      

 
    #credentials-section {
        width: 100%;
        height:auto;
        background-color: rgb(220, 245, 243);
      
     
    }
    
    #experience-section {
        width: 100%;
        height: auto;
        background-color: rgb(245, 220, 243);
        
       
     
    }
    #contact-section {
        width: 100%;
        height: auto;
        background-color: rgb(245, 220, 237);
      
    }

    

@media (orientation:portrait){

    main {
        min-width: 100%;
    }

    
    .project1{
        height: 430px;
        width: 350px;
      
      

    }


    .item {
      
        height:30px;
        width: 30px;
        aspect-ratio: 10 / 5; 


    }

    #intro{
        font-size: clamp(1.25rem, 0.4464rem + 2.8571vw, 1.875rem);
    }


    #image-container {
        
        padding-top: 20px;
        grid-column: 3/11;
        grid-row: auto;
       
       
        
   
   

}

#skillset{
   
 
  height: 50px;
  width: 50px;
    
    
}
   


#about-container{
   
 
  
    grid-column: 1/13;
    grid-row: 7/9;
    
   
    
    
}
    

  
 
 

   
    nav .menu-icon {
        display: block;
  }

  .close-icon {
    display: none;
}

  
  .navbar {
    position: fixed;
    top:71px;
    left: 0;
    width: 100%;
    height: 350px; /* Ensures there is space for vertical alignment */
    background-color: rgb(249, 222, 218);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers items vertically */
    align-items: center; /* Centers items horizontally */
    backdrop-filter: blur(10px); /* Adjust blur intensity */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    display: none;
    z-index: 999;
}



/* items in this div  is aligned horizontally at the end */
nav ul li  {

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding:5px;
     
     
     
    
     
}


header {
    position: fixed;
    z-index: 1000;
}

}